

#container3D canvas {
  position: absolute;
  top: 4850px; /* adjust the value to move the canvas up or down */
  filter: blur(0px);
  backdrop-filter: blur(20px) brightness(1.1) saturate(1.2) contrast(0.9);
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
 z-index: 2;
}

#container3D {
  width: 100%;
}


